.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

input[type='file'] {
  display: none;
}

.file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-button {
  display: none;
}

.export-button {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  color: white;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}
table tr :last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
table th :last-child,
table td :last-child {
  border-right: 0;
}

.chart > div {
  margin-left: auto;
  margin-right: auto;
}

.filters {
  display: flex;
}

.filters > form {
  margin-left: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
